:root{
  // Primary
  // - Grayish Blue (Text): 
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --soft-red-dark: hsl(345, 95%, 65%);

  // Neutral
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --dark-desaturated-blue-dark: hsl(236, 21%, 23%);
  --very-dark-blue: hsl(235, 17%, 12%);
  --very-dark-black-blue: hsl(234, 17%, 12%);
}